@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Products</h1>

<div class="card mb-3 bg-light">
    <div class="card-body">
        <form class="row row-cols-sm-auto g-3 align-items-center">
            <div class="col-12">
                <label>Category</label>
            </div>

            <div class="col-12">
                <select class="form-select" asp-items="Model.Categories" asp-for="CategoryId">
                    <option value="">All</option>
                </select>
            </div>

            <div class="col-12">
                <label>Brand</label>
            </div>

            <div class="col-12">
                <select class="form-select" asp-items="Model.Brands" asp-for="BrandId">
                    <option value="">All</option>
                </select>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

    </div>
</div>

<div class="row">
    @foreach (var item in Model.Products)
    {
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="card ">
                <img src="~/img/products/@item.PictureUri" alt="Product Image" class="w-100" />

                <div class="card-body">
                    <h6 class="card-title product-title">@item.Name</h6>
                    <p class="card-text">@item.Price.ToString("c2")</p>
                    <a href="#" class="btn btn-primary">Add To Basket</a>
                </div>
            </div>
        </div>
    }
</div>

@{
    var pi = Model.PaginationInfo;
}

<p class="text-center">
    Showing @pi.Start - @pi.End of @pi.TotalItems items
</p>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item @(pi.HasPrevious ? "" : "disabled")">
            <a class="page-link" asp-route-p="@(pi.CurrentPage - 1)" asp-route-CategoryId="@Model.CategoryId" asp-route-BrandId="@Model.BrandId">Previous</a>
        </li>

        @foreach (int i in pi.PageNumbers)
        {
            if (i == -1)
            {
                <li class="page-item disabled">
                    <a class="page-link">&hellip;</a>
                </li>
            }
            else
            {
                <li class="page-item @(i == pi.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-route-p="@i" asp-route-CategoryId="@Model.CategoryId" asp-route-BrandId="@Model.BrandId">@i</a>
                </li>
            }
        }

        <li class="page-item @(pi.HasPrevious ? "" : "disabled")">
            <a class="page-link" asp-route-p="@(pi.CurrentPage - 1)" asp-route-CategoryId="@Model.CategoryId" asp-route-BrandId="@Model.BrandId">Next</a>
        </li>
    </ul>
</nav>

